@import url('../../common_styles/color.css');

.Layout {
  background: var(--card-background);
  width: 80%;
  margin: 5% auto;
}

.header {
  padding: 10px 0 0;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 10px 0 16px;
}