@import url('../../../common_styles/font.css');
@import url('../../../common_styles/color.css');

.wrapper {
  width: 90%;
  margin: 0 auto;
}
.basicData {
  width: 90%;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
}

.basicData > div {
  color: var(--button-background);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.dataBody td {
  text-align: left;
  padding: 12px 5%;
}

.dataBody tr:nth-child(odd) {
  background: var(--primary);
}

.dataBody tr:last-child{
  background: none;
}

.dataBody tr:last-child td {
  padding: 0;
}

.comment {
  box-sizing: border-box;
  width: 100%;
  background: var(--primary);
  outline-width: 0;
  height: 80px;
}