@import url('../../common_styles/color.css');
@import url('../../common_styles/font.css');

.Brand {
  color: var(--primary);
  font-family: var(--brand-font);
  margin-bottom: 10px;
}

.Brand h1 {
  font-size: 24px;
}