@import url('../../../../../common_styles/font.css');
@import url('../../../../../common_styles/color.css');

.TableHead {
  line-height: 25px;
}

.TableHead tr {
  font-size: 18px;
  font-family: var(--brand-font);
  color: var(--primary);
  background: var(--menu-background);
}

.th {
  padding: 5px 10px;
}