@import url('../../common_styles/color.css');
@import url('../../common_styles/font.css');

.Home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  background: var(--card-background);
  border-color: var(--primary);
  border-width: 11px;
  -moz-border-image: url(http://tobias-reinhardt.de/img/frame.png) 11 stretch;
  border-image: url(http://tobias-reinhardt.de/img/frame.png) 11 stretch;
  border-style: solid;
  padding: 5%;
  margin: 10vh auto;
  font-family: var(--card-font);
  font-size: 26px;
}

.Home img {
  width: 120px;
}

.emph {
  font-size: 30px;
}