@import url('../../../../common_styles/font.css');
@import url('../../../../common_styles/color.css');

.drop {
  display: inline-block;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  font-weight: 700;
  color: var(--menu-background);
  border: 2px dashed var(--menu-background);
  border-radius: 4px;
  padding: 4px 8px;
  transition: all .2s ease;
}

.imgPreview {
  display: 'inline-block';
  margin: 10px;
  height: 100px;
}

.drop:focus,
.drop:hover {
  background-color: var(--menu-background);
  color: var(--primary);
  cursor: pointer;
  transition: all .2s ease;
}
