@import url('../../../../common_styles/color.css');

.Pagination {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

.arrows {
  display: flex;
}

.arrows div {
  padding: 0 15px;
  font-size: 25px;
  cursor: pointer;
  transition: all .2s ease;
}

.arrows div:hover {
  color: var(--menu-background);
}

.hidden {
  visibility: hidden;
}