@import url('../../../common_styles/color.css');
@import url('../../../common_styles/font.css');

.NavButton {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  text-decoration: none;
  background: var(--button-background);
  color: var(--primary);
  transition: all .3s ease-out;

  display: flex;
  align-items: center;
}



.active,
.NavButton:hover {
  transition: all .3s ease-out;
  background: var(--button-background-active);
  color: var(--button-color-active);
}

.NavButton img {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding-left: 15px;
  padding-right:10px;
}

.NavButton span {
  display: inline-block;
  font-size: var(--title-size);
  font-family: var(--brand-font);
}